:root {
    --color-1: #ff2c2c;
    --color-2: #f01e2c;
    --color-3: #de0a26;
    --color-4: #d1001f;
    --color-5: #c30010;
    --color-6: #ee6b6e;
    --color-7: #E9EDEF;
    --color-8: #565F60;
    --color-9: #171717;
    --transition-duration: 0.5s
}

body {
    font-family: "Open Sans", sans-serif!important;
}

.navbar-title {
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff!important;
    --bs-btn-bg: var(--color-1)!important;
    --bs-btn-border-color: var(--color-5)!important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-2)!important;
    --bs-btn-hover-border-color: var(--color-3)!important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-3)!important;
    --bs-btn-active-border-color: var(--color-4)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-5)!important;
    --bs-btn-disabled-border-color: var(--color-5)!important;
}

.about img {
    width: 100%;
}

.custom-shadow {
    box-shadow: 6px 6px 0px 0px var(--color-1)!important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.hero-overlay { 
    z-index: 12;    
    position: absolute;    
    top: 20%;
    left: 0px;    
    right: 0px;    
    margin: auto auto 0 10%; 
    width:80%;   
    background: rgba(240, 255, 255, .5); 
    padding: 30px 0;
}

.carousel-inner {
    height: 0;
    padding-bottom: 100%;
}
  
.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: cover; 
}

.bg-black {
    background-color: var(--color-9)!important;
}

.bg-red {
    background-color: var(--color-6);
}

.bg-red p, .bg-red h2, .bg-red h3, 
.bg-black p, .bg-black h2, .bg-black h3 {
    color: var(--color-7);
}

.color-primary {
    color: var(--color-7);
}

.circle {
    border-radius: 50%!important;
    border-style: solid;
    border-width: 1px;
    width: 4rem;
    height: 4rem;
}

.circle img {
    width: 24px;
    height: 24px;
    margin-top: 1.1rem !important;
    margin-left: 1.2rem !important;
}

#gallery img:hover {
    box-shadow: var(--color-1) 0px 0 14px 4px;
    scale: 1.02;
}

.place-info {
    color: #fff;
    background: var(--color-6);
    border-radius: 0px 0px 10px 10px;
}

.brand-logo:hover {
    color: var(--color-9)!important;
}

.top-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 1rem;
	right: 1rem;
	border-radius: 50px;
	text-align: center;
}

.arrow {
    border: solid var(--color-7);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    margin-top: 16px;
}

/* Transitions */
.transition-invisible, .transition-visible {
    transition-duration: var(--transition-duration);
    transition-property: opacity;
    transition-timing-function: ease-out;
}

.transition-invisible {
    opacity: 0;
}

.transition-visible {
    opacity: 1;
}

#gallery img {
    transition-duration: var(--transition-duration);
    transition-property: box-shadow, scale;
    transition-timing-function: ease-out;
}

@media (min-width: 992px) {
    .carousel-inner {
        height: 0;
        padding-bottom: 30%;
    }

    .navbar-title {
        display: contents;
    }

    .hero-overlay {   
        top: 10%;
    }
}

@media (min-width: 1440px) {
    .carousel-inner {
        height: 0;
        padding-bottom: 30%;
    }

    .navbar-title {
        display: contents;
    }

    .hero-overlay {   
        top: 20%;
    }
}

@media (min-width: 2560px) {
    .carousel-inner {
        height: 0;
        padding-bottom: 30%;
    }

    .navbar-title {
        display: contents;
    }

    .hero-overlay {   
        top: 30%;
    }
}